@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grape+Nuts&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    border: none; 
    outline: none; 
    scroll-behavior: smooth; 
    font-family: 'Poppins' , sans-serif;
    user-select: none;


}
/*
:root{
   --bg-color:#f4fbf9;
   --second-bg-color:#bcc9c7;
   --pub-bg-color:#c8d6d442;
   --second2-bg-color:#004f64;
   --text-color:#000000;
   --btn-color:#559692;
   --btnHover-color:#53e8de;
   --error-text: rgb(160, 13, 0);
}
29746A
*/
:root{
  --bg-color:#e6f3ea;
  --second-bg-color:#bcc9c1;
  --pub-bg-color:#c8d6d442;
  --second2-bg-color:#176561;
  --text-color:#000000;
  --btn-color:#69A88D;
  --btnHover-color:#53e896;
  --error-text: rgb(160, 13, 0);
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
}
body{
  
  background-color: var(--bg-color);
   color: var(--bg-color);

}
p{
  font-family: "Montserrat", sans-serif;

}
h1{
  font-family: "Montserrat", sans-serif;

}
section{
   min-height: 100vh;
   padding: 10rem 9% 2rem;
}
 

/*.header.sticky{
   border-bottom: .1rem solid #00000000;
}
*/


/*--------logoBg-------------------------------------watingDiv.---------------------------------------------*/
.watingDiv{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
    opacity: 1;
    background-color: var(--second2-bg-color);
    transition: 1s ease;
}
.logoBg{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;  
     
}
.caeee_logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg); /* Rotation initiale sur l'axe Y */
    transform-origin: center;
    animation: none;
    border-radius: 0;
    transition: 0.5s ease;
}


.imagelogo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--bg-color);
    opacity: 0;
    transition: 0.6s ease;
    top: 0;
    
}
.imagelogo img{
    width: 70%;
    height: 70%;

}
.textLogo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0;
    top: 80%;
    transition: 1s ease;
}

.textLogo h1{
    font-size: 1.8rem;
    color: var(--bg-color);
}


.bg_choix_user{
    width: 50vw;
    height: 50vh;
    background-color: var(--bg-color);
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    transition: 1s ease;
}
.bg_choix_user{
  color: var(--second2-bg-color);
}
.bg_choix_user p{
  font-size: 1.2rem;
}
.bgmedcinpatient{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    background-color: var(--second2-bg-color);
    border-radius: 10px;
    border: 3px solid var(--bg-color);
    transition: 0.3s ease;
    cursor: pointer;
}
.bgmedcinpatient {
    text-align: justify; /* Justifier le contenu horizontalement */
    color: var(--bg-color);
}

.bgmedcinpatient h1,
.bgmedcinpatient p {
    margin: 0 auto; /* Centre les éléments horizontalement */
    max-width: 80%; /* Limite la largeur pour éviter un texte trop étiré */
    cursor: pointer;
}

.bgmedcinpatient:hover{
    border: 3px solid var(--second2-bg-color);
    color: #53e8de;
}

.img_bgmedcinpatient{
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg-color);
    border-radius: 50%;
    margin-bottom: 10px;
}
.img_bgmedcinpatient i{
    font-size: 3rem;
    color: var(--second2-bg-color);
}


.img_bgmedcinpatient img{
  width: 40px;
}

/*---------------------------------------------loginregister Mecdcins.---------------------------------------------*/


.bg_login_register{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
.contet_bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.image_L_R{
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  color: var(--second2-bg-color);
  padding: 40px;
}
.image_L_R img{
  width: 100px;
}
.image_L_R h1{
 font-size: 5rem;
 font-weight: 700;
 font-style: normal;
}
.image_L_R p{
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
}
.content_L_R{
  width: 50%;
  min-height: 100vh;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--second2-bg-color);
  flex-direction: column;
  border-radius: 10px;
}
.logo_ferti{
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo_ferti_rond{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-color);
}
.logo_ferti_rond img{
  width: 35px;
}
.con_content_L_R{
  width: 100%;
  padding: 10px;
}
.conncxion_inputs{
  width: 100%;
}
.input_styl{
  width: 80%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
label{
  padding-bottom: 5px;
}
input{
  padding: 7px; 
  border: 1px solid var(--bg-color);
  border-radius: 5px; 
  box-sizing: border-box;
  width: 100%;
  background-color: var(--bg-color);
}
input:focus {
  outline: none; 
  border-color: var(--btnHover-color);
  box-shadow: 0 0 5px var(--btnHover-color); 
}
.conncxion_inputs a{
  color: var(--bg-color);
  transition: 0.3s ease;
  text-decoration: underline;
}
.conncxion_inputs a:hover{
  color: var(--btnHover-color);

}

.img_login{
  width: 100%;
  display: flex;
}
.img_login img{
  width: 200px;
  height: 200px;

}
  /*-----------------------------------------------------btn*/

  .btnVide{
    display: block; 
    width: 150px; 
    padding: 10px; 
    color: var(--second2-bg-color); 
    background-color: transparent;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
    border: 1px solid var(--second2-bg-color);
    overflow: hidden;
  }
  .btnVide:hover {
    background-color:var(--second2-bg-color) ;
    color: var(--bg-color); 

  }
  .btn {
    display: block; 
    width: 150px; 
    padding: 10px; 
    background-color: var(--btn-color); 
    color: var(--bg-color); 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
    overflow: hidden;

  }
  
  .btn:hover {
    background-color:var(--btnHover-color); 
    color: var(--second2-bg-color); 

  }
  
  .btn.souvgarder{
    display: block; 
    width: 150px; 
    padding: 10px; 
    background-color: rgb(0, 96, 0); 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s; 
    overflow: hidden;


  }
  .btn.souvgarder:hover {
    background-color:rgb(0, 45, 0); 
    color: #fff; 

  }


  .btn.modifier{
    display: block; 
    width: 150px; 
    padding: 10px; 
    background-color: rgb(255, 158, 1); 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
    overflow: hidden;

  }
  .btn.modifier:hover {
    background-color:rgb(135, 83, 0); 
    color: #fff; 

  }


  .btn.supprimer{
    display: block; 
    width: 150px; 
    padding: 10px; 
    background-color: rgb(255, 1, 1); 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s; 
    overflow: hidden;

  }
  .btn.supprimer:hover {
    background-color:rgb(135, 0, 0);
    color: #fff; 
 
  }
  /*-----------------------------------------------------btn*/




  /*-----------------------------------------------------loader*/



       
  .cs-loader-inner {
    position: relative;
    width: 100%;
    color: var(--main-color);
    padding: 0;
    text-align: center;
  }
  
  .cs-loader-inner label {
    font-size: 13px;
    opacity: 0;
    display:inline-block;
  }
  
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-65px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(65px);
    }
  }
  
  @-webkit-keyframes lol {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100px);
    }
  }
  
  .cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 1.5s infinite ease-in-out;
    animation: lol 1.5s infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 1.5s 100ms infinite ease-in-out;
    animation: lol 1.5s 100ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 1.5s 200ms infinite ease-in-out;
    animation: lol 1.5s 200ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 1.5s 300ms infinite ease-in-out;
    animation: lol 1.5s 300ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 1.5s 400ms infinite ease-in-out;
    animation: lol 1.5s 400ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 1.5s 500ms infinite ease-in-out;
    animation: lol 1.5s 500ms infinite ease-in-out;
  } 



  /*-----------------------------------------------------loader*/

    /*-----------------------------------------------------wating ------*/

  .wating{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

  }
  .wating_img{
    width:60px;
    height: 60px;
    display: flex;
    background-color: var(--bg-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  .wating_img img{
    width:50px;
    height: 50px;
    display: inline-block;
    animation: rotation 2s linear infinite; /* Changez la durée (2s) selon vos préférences */

  }



  @keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
    /*-----------------------------------------------------wating ------*/
    /*-----------------------------------------------------home page medecin  ------*/

  
.bgHome{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 6% 10px ;
  background-color: var(--bg-color);
  
}
.leftespace{
 width: 30%;
 min-height:100vh ;
 padding: 20px;
}
.profilinfobg{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  transition: .2s ease;
  cursor: pointer;
}
.profilinfobg h1{
  font-size: 1.3rem;
  padding-left: 10px;
  font-weight: 600;
  cursor: pointer;
  color: var(--second2-bg-color);

}
.verifica{
  display: flex;
  align-items: start;
  justify-content: start;
}
.verifica i{
  font-size: 1.3rem;
  color: var(--second2-bg-color);
  padding-left: 10px;
}
.photoprofilepubadd1{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--second2-bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--second2-bg-color);
}
.photoprofilepubadd1 img{
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.midleespace{
  width: 40%;
  min-height:100vh ;
  padding: 10px;
}
.profilinfobg:hover{
 background-color: #bcc9c760;
}
.mycabinsbg{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--pub-bg-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  
}

.rightespace{
  position: relative;
  display: flex;
  width: 30%;
  min-height:100vh ;
}
.mescabins_{
  display: flex;
  flex-direction: column;
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 370px; /* Ajustez la hauteur selon vos besoins */
  overflow-y: auto; /* Active le défilement vertical */
  padding: 10px; /* Ajoute un peu d'espace intérieur */
}
.cabinfoss{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--second-bg-color);
  transition: 0.2s ease;
  position: relative;
}
.cabinfoss:hover{
 background-color: #bcc9c78e;
}
.mescabins_image{
  width: 28px;
  height: 28px;
  background-color: var(--second2-bg-color);
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}
.mescabins_image img{
  width: 28px;
  height: 28px;
}
.mescabins_name h1{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--second2-bg-color);
  margin-left: 10px;
  cursor: pointer;
}
.langue_check{
  height: 20px;
  width:  20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.langue_check i{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--second2-bg-color);
  position: absolute;
  right: 0;
  cursor: pointer;
}
.titleoptionmycabinsbg{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: var(--second2-bg-color);
  color: var(--bg-color);
  padding: 10px;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 20;
  transition: 0.2s ease;
}
.titleoptionmycabinsbg:hover{
  background-color: var(--btn-color);

}
.titleoptionmycabinsbg h2{
 font-size: 1.3rem;
 cursor: pointer;

}
.titleoptionmycabinsbg i{
  font-size: 1.5rem;
  padding-right: 10px;
  cursor: pointer;

 }

.navigationbar{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--bg-color);
  box-shadow: 0 .5rem 1rem #55969217;

}
.navigationbar h1{
  color: var(--second2-bg-color);
  padding-left: 5px;
}
.log{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.log h1{
  font-weight: 600;

}
.optionsnavbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;


}
.optionsnavbar i{
  font-size: 2.3rem;
  color: var(--second2-bg-color);
  margin-right: 20px;
  transition: 0.1s ease;
  cursor: pointer;
}
.optionsnavbar i:hover{
  color: var(--btn-color);

}optionsnavbar

.logonav{
  width: 40px;
  height: 40px;
}
.logonav img{
  width: 40px;
  height: 40px;

}
.addpublication{
  width: 100%;
  padding: 10px;
  background-color: var(--pub-bg-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addpublication1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inputpubadd{
  width: 80%;
  border-radius: 15px;
  padding-left: 20px;
  height: auto; /* Hauteur automatique */
  min-height: 10px; /* Hauteur minimale de l'input */
  resize: vertical; /* Permet le redimensionnement vertical uniquement */
  overflow-y: auto; /* Défilement vertical si nécessaire */
  padding: 8px;
}
.photoprofilepubadd{
  width: 40px;
  height: 40px;
  background-color: var(--second2-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photoprofilepubadd img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.ligne_{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--second-bg-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
.addpublication2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.opt_addpublication2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s ease;


}
.opt_addpublication2 i{
  font-size: 1.8rem;
  color: var(--second2-bg-color);
 }
 .opt_addpublication2:hover{
  background-color: #bcc9c7;
  border-radius: 5px;
}


 
.activatoin_compt{
  position: fixed;
  z-index: 3000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffffc7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 9% 2rem;
}
.boxactivation input{
width: 200px;
border: 1px solid var(--second2-bg-color);
}
.boxactivation img{
 width: 200px;
}
    /*-----------------------------------------------------home page medecin  ------*/
.gallery_{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  object-fit: cover;

}
.imagge img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  object-fit: cover;
}
    /*----------------------------------------------------publication style  ------*/

.lespublicationslist{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.pubbg_{
  width: 100%;
  padding: 10px 0;
  background-color: var(--pub-bg-color);
  border-radius: 5px;
  margin-bottom:10px;
} 
.headerpublication{
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.image_user_pub{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second2-bg-color);
  margin-right: 10px;
  overflow: hidden;

}
.image_user_pub_flu{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
  position: absolute;

}
.image_user_pub img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;

}
.nameuserpub{
 height: 20px;
 display: flex;
 justify-content: center;
 align-items: center;

}
.nameuserpub h1{
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.headerpublication i{
  font-size: 1.2rem;
  color: var(--second2-bg-color);

}
.headerpublication p{
  color: var(--second2-bg-color);
}
.image_publicationbg{
  width: 100%;
  height: 380px;
  background-color: var(--second-bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.image_publicationbg img{
  width: 100%;
  height: 380px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.textpublication{
width: 100%;
padding: 5px 10px;
}
.textpublication{
  font-size: 1.1rem;
  font-weight: 500;
}
.datpublication{
  font-size: 10px;

}


.infouser_{
  display: flex;
  width: 70%;
  flex-direction: row;
}

.jaimeandcommentsnum{
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.jaimesnum{
  display: flex;
  flex-direction: row;
  height: 3px;

} 

.commentsnum{
  display: flex;
  flex-direction: row;
  height: 3px;

}
.jaimecommentbtns i{
  color: var(--second2-bg-color);

}
.commentsnum p{
margin-left: 3px;
}

.jaimecommentbtns{
  width: 100%;
  padding: 2px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.btnjaime{
width: 50%;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 5px;
transition: .2s ease;

}
.btnjaime i{
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--second2-bg-color);
}
.btncomment{
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: .2s ease;
}
.btncomment i{
  cursor: pointer;
  font-size: 1.4rem;

}

.btnjaime:hover{
  background-color: var(--second-bg-color);
}
.btncomment:hover{
  background-color: var(--second-bg-color);
}

.navbar_buttom{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 200;
  background-color: var(--bg-color);
  justify-content: space-around;
  align-items: center;
  transition: .4s ease;
}
.navbar_buttom i{
  color: var(--second2-bg-color);
  font-size: 2rem;
}

/*-------------------------- profile user -----------------------------*/

.completeprofilnotif{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;

}
.completeprofilnotif i{
 font-size: 1.3rem;
 padding-right: 10px;
}
.completeprofilnotif h3{
  font-size: 1.3rem;
 }
.profileBg{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 6% 9% 10px;
  justify-content: start;
  align-items: start;
  background-color: var(--bg-color);

}
.photoprophletcouverture{
  width: 100%;
  height: 300px;
  background-color: var(--second2-bg-color);
  position: relative;
  border-radius: 10px;
  margin-bottom: 80px;
}
.photoprophletcouverture img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid var(--second2-bg-color);

} 
.photoprofile{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--bg-color);
  position: absolute;
  bottom: -70px;
  left: 10%;
 
  
}

.nomeUtulisateur{
  width: 100%;
}
.nomeUtulisateur h1{
  font-size: 1.4rem;
  font-weight: 600;
}

.photoprofile img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--second2-bg-color);
  overflow: hidden;
}

.btnprfil{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.3s ease;
  cursor: pointer;
}

.btnprfil i{
  font-size: 1.6rem;
  color: var(--second2-bg-color);
}
.btnprfil:hover{
  background-color: var(--pub-bg-color);
  border: 1px solid var(--second-bg-color);
}
.btnprfil.act i{
  color: #007bbe;
}
.compeleleprofile p{
  font-size: 1.1rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.compeleleprofile p:hover{
  margin-left: 10px;
  font-weight: 600;
}
.abonneretmessage{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.compeleleprofile{
  width: 100%;
  padding:10px;
  border: 1px solid var(--second2-bg-color);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
.nomeUtulisateur p{
  font-size: 1.2rem;
  font-weight: 500;
}
.nomeUtulisateur i{
  padding-left: 10px;
}
.nomeUtulisateur{
  display: flex;
  flex-direction: row;
  color: var(--second2-bg-color);
}
.photoprofilchangerbg{
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgcahngePhoto{
  width: 50vw;
  height: 90vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.photochanger{
  width: 200px;
  height: 200px;
  background-color: var(--second2-bg-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--second2-bg-color);
  margin-bottom: 20px;

}
.photochanger i{
  font-size: 6rem;
  color: var(--bg-color);
}
.nouveauimage img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.btns_bg_info{
  display: flex;
  flex-direction: row;
}
.photochanger_couverture{
  width: 100%;
  height: 150px;
  background-color: var(--second2-bg-color);
  border: 2px solid var(--second2-bg-color);
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.nouveauimage_couv{
  width: 100%;
  height: 100%;
}
.nouveauimage_couv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photochanger_couverture i{
  font-size: 6rem;
  color: var(--bg-color);

}
.deconnection{
  width: 50vw;
  height: 50vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.deconnection img{
  height: 40%;
  
}
.deconnection svg{
  height: 40%;
  
}
.deconnection p{
 font-size: 1.4rem;
 font-weight: 500;
}
.fotherprofile{
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.fotherprofile p{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--second2-bg-color);
  text-align: justify; /* Correction de la justification du texte */
}
/* -----------------------------------commentaires ------------------ */
.commentaire_bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #00000050;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}
.commentaire_{
  width: 80%;
  height: 80%;
  background-color: #bcc9c7bf;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem #55969217;
  display: flex;
  flex-direction: column;
  position: relative;
}
.head_commentaire_{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:15px 30px;
  align-items: center;
  background-color: #bcc9c73e;
  box-shadow: 0 .5rem 0.5rem #37373713;
  position: absolute;
  left: 0;
  top: 0;

}
.head_commentaire_ h1{
 font-size: 1.5rem;
}
.head_commentaire_ i{
  font-size: 1.5rem;
  color: rgba(212, 0, 0, 0.706);

}
.addcommentaire_bg{
  width: 100%;
  padding: 10px 5px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  z-index: 2500;
  box-shadow: .5rem 0 0.5rem #37373713;
}
.addpublication1 i{
  font-size: 1.5rem;
  padding: 8px;
}
.photoprofilepubadd.comment{
  margin: 8px;
}
.listeComments_bg{
  padding: 10px;
  overflow-y: auto;
}
.comment_listeComments_bg{
  width: 100%;
  padding: 5px;
  background-color: #bcc9c7b4;
  display: flex;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.hedercomment{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hedercomment_img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--second2-bg-color);
  margin: 10px;
}
.hedercomment_img img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: center;
}
.hedercomment h1{
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.couvertureCabine{
  width: 100%;
  height: 150px;
  background-color: var(--second2-bg-color);
  border-radius: 10px;
  border: 2px solid var(--second2-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.couvertureCabine img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.leftespace h1{
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

/* -----------------------------------messageCabine ------------------ */
.discution_bg{
 width: 30%;
 height: 88%;
 position: fixed;
 right: 0;
 background-color: var(--bg-color);
 overflow: hidden;
 z-index: 250;
 transition: 0.4s ease;
}
.header_message{
  z-index: 300;
  width: 100%;
  padding: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: var(--second2-bg-color);
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid var(--bg-color);
  position: absolute;
}
.header_message i{
  font-size: 2rem;
  color: var(--bg-color);
  cursor: pointer;
}
.Image_header_message{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

}
.Image_header_message img{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: cover;
}
.name_header_message{
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name_header_message h1{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--bg-color);
  cursor: pointer;
}
.option_header_message{
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right:  0;
}
.bottom_message{
 width: 100%;
 padding: 15px;
 padding-bottom: 35px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 background-color: var(--second2-bg-color);
 position: absolute;
 bottom: 0;
 right: 0;
 border-top-left-radius:10px ;
 border-top-right-radius: 10px;
 z-index: 300;
 border-top: 1px solid var(--bg-color);
 transition: .5s ease;

}

.bottom_message i{
  color: var(--bg-color);
  font-size: 1.7rem;
  cursor: pointer;
}
.sendImageicon{
 width: 10%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.messageecrit{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageecrit{
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);

}
.sendmessageicon{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionbg_wind{
  position: absolute;
  right: 0;
  width: 150px;
  padding: 10px;
  flex-direction: column;
  background-color: #93ab9c48;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
  border-radius: 5px;
  z-index: 450;
}

.optionbg_wind_btn{
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--second2-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;

}  

.optionbg_wind_btn i{
font-size: 1.2rem;
color: var(--text-color);
padding-right: 5px;
cursor: pointer;
}
.optionbg_wind_btn p{
  cursor: pointer;

}
.optionbg_wind_btn:hover{
  background-color: var(--second-bg-color);
}
.content_message{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
  height: 100%;
  position: absolute;
}
.monM_bg{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mon_message {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  max-width: 48%;
  padding: 10px;
  color: white;
  background-color: var(--second2-bg-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.autreM_bg{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

}
.autre_message{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
  max-width: 48%;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: -8px;
  overflow: hidden; /* Cacher le texte qui dépasse */
  word-wrap: break-word; 

}
.content_message img{
  width: 120px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
}
.content_message{
  overflow-y: scroll;
} 
.scrollButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  z-index: 250;
  cursor: pointer;
  transition: .3s ease;
}

.scrollButton i {
  font-size: 2.3rem;
  color: var(--second2-bg-color);
}

.creeUneRoomCabineBg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 350;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg_cree_CabineRoom_place{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--btn-color);
  border-radius: 10px;

}
.bg_cree_CabineRoom_place h1{
  font-size: 1.4rem;
  color: var(--bg-color);
  padding: 10px;
}

.bg_cree_CabineRoom_place i{
  color: var(--bg-color);
  padding: 10px;
  font-size: 3rem;

}
.bg_cree_CabineRoom_place p{
  color: var(--bg-color);
  font-size: 1.2rem;

}
.afficheImagesBg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 400;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Ajout du préfixe -webkit- */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: no-drop;

}

.afficheImage_place{
  position: fixed;
  top: 15vh;
  left: 15vw;
  width: 70vw;
  height: 70vh;
  background-color: var(--second2-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 450;

}
.afficheImage_place img{
  position: fixed;
  top: 15vh;
  left: 15vw;
  width: 70vw;
  height: 70vh;
  z-index: 460;
  object-fit: scale-down;


}


/*-------------------------------liste message user*/
.listemesagebg{
  width: 100%;
  height: 100%;
  background-color: var(--pub-bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.amisbgmessage{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: var(--pub-bg-color);
  border-radius: 5px;
  border-bottom: 1px solid var(--second2-bg-color);
  transition: 0.3s ease;

}
.amisbgmessage:hover{
 background-color: var(--btn-color);
}
.imageamismessagebg{
  width: 26px;
  height: 26px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--second2-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageamismessagebg img{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.nameamismessagebg h1{
  font-size: 1.3rem;
  color: var(--second2-bg-color);
  margin-left: 5px;
  
}

.title_listemesagebg{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image_title_listemesagebg{
  background-color: var(--second2-bg-color);
 width: 25px;
 height: 25px;
 display: flex;
 border-radius: 50%;
 overflow: hidden;
}
.image_title_listemesagebg img{
  width: 25px;
 height: 25px;
 object-fit: cover;

} 
.title_listemesagebg h1{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--second2-bg-color);
  padding: 10px;

}




.idCopied{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.idCopied i{
  margin-left: 10px;
color: var(--second2-bg-color);
font-size: 1rem;
}
.idCopied p{
  color: var(--second2-bg-color);
  font-size: 1rem;


}
.bg_acc{
  max-width: 600px;
  padding: 8px;
  background-color: var(--second-bg-color);
}
.bg_acc img{
  width: 150px;
}

#animated-text {
  font-size: 18px;
  white-space: pre-line;
}

#typed-text{
  font-family: "Grape Nuts", cursive;
  font-weight: 600;
  font-style: normal;
}
.buttonnext h1{
  font-family: "Grape Nuts", cursive;
  font-weight: 600;
  font-style: normal;
}
#text-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  background-color: #f5f5f5;
  width: 0;
}
.language-selector img{
  width: 200px;
}
.buttonnext{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}
.language-selector{
  width: 100%;
  height: 50vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--second2-bg-color);
}
.text-container{
  opacity: 0;
  transition: 1s ease;
}

.language-selector select{
  background-color: var(--pub-bg-color);
  color: var(--second2-bg-color);
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--second2-bg-color);
}
.tomedcinePage {
  cursor: pointer;
  transition: .3s ease;
  font-family: "Grape Nuts", cursive;
  font-weight: 500;
  font-style: normal;
  padding: 10px;

}
 .tomedcinePage :hover{
  cursor: pointer;

  text-decoration: underline; /* Souligne le texte */
  color: var(--btnHover-color);
}

@media (max-width:617px){
  
    .bg_choix_user{
        width: 100vw;
        height: 100%;
        background-color: var(--bg-color);
        position: absolute;
        top: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

    }
    .bg_choix_user span{
      font-size: 1.3rem;

    }


    .bgmedcinpatient{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        background-color: var(--second2-bg-color);
        border-radius: 7px;
        margin-bottom: 10px;
    }
    .bg_login_register{
      padding: 0;
    }
    .content_L_R{
      width: 100%;
    }
    .contet_bg{
      flex-direction: column;
      padding: 0;

    }
    
    .image_L_R{
      width: 100%;
    }
    .image_L_R{
      width: 100%;
    }
    .image_L_R h1{
      font-size: 3rem;
    } 
    .image_L_R p{
    font-size: 1.8rem;
    }
    .bgHome{
      padding-top: 60px;
      padding: 13% 0px;
    }
    .leftespace{
      width: 100%;
      display: none;
      flex-direction: column;
    }
    .rightespace{
      width: 100%;
      display: none;
      height: 100vh;
      flex-direction: column;
    }
    .midleespace{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .logonav img{
      width: 30px;
      height: 30px;
    }
    .log h1{
      font-size: 1.6rem;
    }
    .optionsnavbar{
      width: auto;
    }
    .optionsnavbar i{
      font-size: 1.3rem;
    }
    .optionsnavbar{
      justify-content: end;
    }
    .photoprofilepubadd{
      width: 30px;
      height: 30px;
    }
    .photoprofilepubadd img{
      width: 28px;
      height: 28px;
    }
    .nameuserpub h1{
      color: var(--second2-bg-color);
      font-size: .9rem;

    }
    .headerpublication p{
      font-size: 0.7rem;
      color: var(--second2-bg-color);
    }
    .headerpublication i{
      font-size: 0.9rem;
      color: var(--second2-bg-color);
    }
    .jaimeandcommentsnum i{
      color: var(--second2-bg-color);
    }
    .jaimeandcommentsnum p{
      color: var(--second2-bg-color);
    }
    .jaimecommentbtns i{
      color: var(--second2-bg-color);
    }
    .image_publicationbg{
      height: 350px;
    }
    .image_publicationbg img {
      height: 350px;

    }
    
    .opt_addpublication2{
      font-size: 0.9rem;
    }
    .textpublication{
      color: var(--second2-bg-color);

    }
    .wating_img{
      width:40px;
      height: 40px;
    }
    .wating_img img{
      width:30px;
      height: 30px;
    }
    .photoprofilepubadd1{
    width: 20px;
    height: 20px;
    }
    .photoprofilepubadd1 img{
    width: 20px;
    height: 20px;
    }
    .profilinfobg h1{
    font-size: 1rem;
    }
    .profilinfobg i{
    font-size: 1rem;
    }
    .mycabinsbg i{
    font-size: 1rem;
    }
    .mycabinsbg h2{
    font-size: 1rem;
    }
    .mescabins_name h1{
        font-size: 1rem;
    }
    .langue_check{
      height: 15px;
      width:  15px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .langue_check i{
      font-size: 1.3rem;
      color: var(--second2-bg-color);
    }
    .mescabins_image{
    width: 20px;
    height: 20px;
    }
    .mescabins_image img{
    width: 20px;
    height: 20px;
    }
    .btnjaime:hover{
      background-color: transparent;
    }
    .btncomment:hover{
      background-color: transparent;
    }
    .completeprofilnotif i{
      font-size: 1rem;
      padding-left: 10px;
      color: red;

     }
     .completeprofilnotif h3{
       font-size: 1rem;
       color: red;

      }
      
      .photoprophletcouverture{
        height: 150px;
        margin-bottom: 50px;

      }
      .photoprophletcouverture img{
        width: 100%;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
      }
      .photoprofile{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        bottom: -40px;
        left: 3%;
      }
      .photoprofile img{
        width: 100px;
        height: 100px;
        border-radius: 50%;

      }
      .profileBg{
        flex-direction: column;
        padding: 15% 7% 10px;
        justify-content: start;
        align-items: start;
      
      }
      
      .bgcahngePhoto{
        width: 80vw;
        height: 80vh;
      }
      .photochanger{
        width: 150px;
        height: 150px;
      }
      .photochanger i{
        font-size: 5rem;
      }
      .btns_bg_info{
        flex-direction: column;
      }
      .deconnection{
        width: 70%;
      }
      .navbar_buttom{
        display: flex;
      }
      .commentaire_{
        width: 90%;
        height: 50%;
      }

      .couvertureCabine{
        height: 100px;

      }
      .couvertureCabine img{
        height: 100px;

      }
      .discution_bg{
        width: 100%;
        height: 90%;
       }
       .bottom_message{
        padding: 15px;
        position: fixed;
        z-index: 300;
       }
       
       .option_header_message{
        display: flex;
       }
       
       .content_message{
        padding-bottom: 30px;
        bottom: 0;
        position: absolute;

      }

      .afficheImage_place{
        top: 15vh;
        left: 2.5vw;
        width: 95vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
      
      }
      .afficheImage_place img{
        top: 15vh;
        left: 2.5vw;
        width: 95vw;
        height: 70vh;
      }
      
      

}




























































